<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/example3.png') }}" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('overviews') }}">Overviews & Demos</a></li>
                <li><a href="{{ url_for('upload') }}" class="active">Upload</a></li>
                <li><a class="disabled-link">Analysis</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="dropZone">
        <h1>Upload Videos</h1>
        <p id="upload-instruction">Select a video file to start analysis.</p>
        <button id="submitBtn">Upload Your Video</button>
        <p class="drop-text">or drop videos here</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>